.reserve-button:hover, .reserve-button:focus, .reserve-button:active {
  background-color: rgba(0,98,204,0) !important;
  border: 3px solid #fff !important;
  box-shadow: none !important;
}

.reserve-button {
  background-color: rgba(0,98,204,0);
  border: 3px solid #fff;
  border-radius: 30px;
}

